{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
      .screen {
        flex: 1;
        position: relative;
        background-image: url("{% static 'myapp/images/itbackground.jpg' %}");
        background-size: cover;
        background-position: center;
        @media only screen and (max-width: 480px) {
          min-height: 100vh;
        }
      }
      
      .background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(1px);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        .realheader {
          display: flex;
          padding: 20px 20px;
          .header {
            max-width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px 0;
            .itlogo {
              margin-top: -40px;
              max-width: 200px;
              margin-bottom: -40px;            
            }
            p {
              font-family: fantasy;
              color: black;
              font-size: large;
              margin: 0;
              padding: 0;
              line-height: 1.2;
            }
          }
        }

        .content {
          position: relative;
          padding: 20px;
          max-width: 300px;
          margin: -30px 0 10px 0;
          border: 3px solid ;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgb(45, 39, 53);
          text-align: center;
          border-color: #D0E8C5;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          background-color: #FFF8DE;
          font-weight: bolder;
          .begin {
            text-decoration: none;
            color: inherit;
            h2 {
              color: #FFD802;
            }
            .start {
              color: white;
            }
          }
        }
        .content:hover {
          transform: scale(1.05);
          border-radius: 10px;
        }

        .realfooter {
          @media only screen and (min-width: 480px) {
            width: 100%;
            background-color: rgb(255, 255, 255);
            box-sizing: border-box;
            .alllogo {
              display: flex;
              flex-direction: column;
              .logoitem {
                gap: 20px;
                display: flex;
                align-items: center;
                font-weight: bolder;
                padding-left: 25%;
              }
              .iglogo {
                max-width: 40px;
                border-radius: 5px;
              }
              .fblogo {
                max-width: 40px;
              }
              .googlelogo {
                max-width: 40px;
              }
              p {
                padding-top: 15px;
              }
            }
          }
          @media only screen and (max-width: 480px) {
            width: 100vw;
            background-color: rgb(255, 255, 255);
            box-sizing: border-box;
            .alllogo {
              display: flex;
              flex-direction: column;
              .logoitem {
                gap: 20px;
                display: flex;
                align-items: center;
                font-weight: bolder;
                padding-left: 30%;
              }
              .iglogo {
                max-width: 40px;
                border-radius: 5px;
              }
              .fblogo {
                max-width: 40px;
              }
              .googlelogo {
                max-width: 40px;
              }
              p {
                padding-top: 15px;
              }
            }
          }
        }
      }

      
    </style>
    
    <div class="background-overlay">
      <div class="realheader">
        <div class="header">
          <img src="{% static 'myapp/images/itlogo.png' %}" class="itlogo img-fluid" alt="">
          <p class="fw-bold">คณะเทคโนโลยีสารสนเทศ</p>
          <p class="fw-bold">สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหาร ลาดกระบัง</p>
        </div>
      </div>
      
      <div class="content">
        <a href="{% url 'page1story' %}" class="begin" onclick="">
          <h2>My KMITL Fable
            Golden Ticket</h2>
          <button class="start btn btn-warning" onclick="playAudio();">เริ่มต้นการผจญภัย</button>
        </a>
      </div>
      <hr>
      <div class="realfooter">
        <div class="alllogo">    
          <div class="logoitem">
            <a href="https://www.instagram.com/itladkrabang/">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4xz6GpBwXCCCBBmsMsKEhuU5w-oiRVpw7Yg&s" class="iglogo" alt="">
            </a>
            <p>itladkrabang</p>
          </div>      
          <div class="logoitem">
            <a href="https://www.facebook.com/ITLadkrabang">
              <img src="https://freepnglogo.com/images/all_img/1730342312_facebook-logo-png.png" class="fblogo" alt="">
            </a>
            <p>ITLadkrabang</p>
          </div>
          <div class="logoitem">
            <a href="https://www.it.kmitl.ac.th/th/">
              <img src="https://freelogopng.com/images/all_img/1657952440google-logo-png-transparent.png" class="googlelogo" alt="">
            </a>
            <p>www.it.kmitl.ac.th</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
<script>
  function playAudio() {
    const audio = new Audio("{% static 'myapp/sound/begin.mp3' %}");
    audio.play();
  }
</script>
{% endblock %}