{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url("https://maxtechelevator.co.th/images-apartment/misc/r1.jpg");
  background-position: center;
}
.choicelist {
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
  button {
    font-size: small;
    font-weight: bold;
    width: 90%;
    max-width: 400px;
    padding: 5px 10px;
    text-align: center;
  }
  button:hover {
    transform: scale(1.05);
    background-color: aqua;
  }
}
.question {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
}
</style>

<div class="all">
<div class="question">
  <p>คุณจะทำอย่างไรเพื่อแก้ปัญหานี้</p>
</div>

<form method="post">
  {% csrf_token %}
  <div class="choicelist">
    <button type="submit" name="choice" value="choice1" class="btn btn-info" onclick="playAudio();">รอจังหวะที่มีคนมาใช้งานลิฟต์แล้วจึงใช้จังหวะนั้นขึ้นไปพร้อมกัน</button>
    <button type="submit" name="choice" value="choice1" class="btn btn-info" onclick="playAudio();">วาดรูปภาพที่คล้ายกับรูปบนคีย์การ์ดอย่างรวดเร็ว ให้เพียงพอที่จะใช้แทนคียร์การ์ดตัวจริงได้</button>
    <button type="submit" name="choice" value="choice2" class="btn btn-info" onclick="playAudio();">งัดแผงวงจรของลิฟต์และบายพาสวงจร เพื่อให้ลิฟต์ใช้งานได้โดยไม่ต้องใช้คีย์การ์ด</button>
    <button type="submit" name="choice" value="choice3" class="btn btn-info" onclick="playAudio();">ทำอาหารแซ่บๆไปเลี้ยงพนักงานที่อยู่รอบๆแล้วขอยืมคีย์การ์ดเป็นค่าตอบแทน</button>
    <button type="submit" name="choice" value="choice4" class="btn btn-info" onclick="playAudio();">ใช้วิธีที่ตรงไปตรงมา โดยไปทำคีย์การ์ดใบใหม่ที่สำนักงานบัตรลิฟต์</button>
  </div>
</form>
</div>

{% endblock %}

{% block script %}
<script>
  const audio = new Audio("{% static 'myapp/sound/question.wav' %}");

  audio.addEventListener("canplaythrough", function() {
    document.querySelectorAll(".btn-info").forEach(button => {
      button.addEventListener("click", function() {
        audio.currentTime = 0;
        audio.play();
      });
    });
  });

  audio.load();
</script>
{% endblock %}