{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url("{% static 'myapp/images/story9bg.png' %}");
  background-position: center;
}
.choicelist {
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
  button {
    font-size: small;
    font-weight: bold;
    width: 90%;
    max-width: 400px;
    padding: 5px 10px;
    text-align: center;
  }
  button:hover {
    transform: scale(1.05);
    background-color: aqua;
  }
}
.question {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
  color: rgb(0, 0, 0);
}
</style>

<div class="all">
<div class="question">
  <p>คุณจะเลือกอะไรติดตัวไปด้วย</p>
</div>

<form method="post">
  {% csrf_token %}
  <div class="choicelist">
    <button type="submit" name="choice" value="choice1" class="btn btn-info" onclick="playAudio();">ปากกาสีหรือดินสอหลากสี</button>
    <button type="submit" name="choice" value="choice2" class="btn btn-info" onclick="playAudio();">เครื่องคิดเลขแบบวิทยาศาสตร์</button>
    <button type="submit" name="choice" value="choice3" class="btn btn-info" onclick="playAudio();">สมุดจดที่เต็มไปด้วยบันทึกย่อและสูตรการผลิต</button>
    <button type="submit" name="choice" value="choice4" class="btn btn-info" onclick="playAudio();">โมเดลโครงสร้างร่างกายหรือตารางธาตุ</button>
  </div>
</form>
</div>

{% endblock %}

{% block script %}
<script>
  const audio = new Audio("{% static 'myapp/sound/begin.mp3' %}");

  audio.addEventListener("canplaythrough", function() {
    document.querySelectorAll(".btn-info").forEach(button => {
      button.addEventListener("click", function() {
        audio.currentTime = 0;
        audio.play();
      });
    });
  });

  audio.load();
</script>
{% endblock %}