{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url("{% static 'myapp/images/story4bg.jpg' %}");
}
.choicelist {
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
  button {
    font-size: small;
    font-weight: bold;
    width: 90%;
    max-width: 400px;
    padding: 5px 10px;
    text-align: center;
  }
  button:hover {
    transform: scale(1.05);
    background-color: aqua;
  }
}
.question {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
  color: rgb(255, 255, 255);
}
</style>

<div class="all">
<div class="question">
  <p>เราควรจะทำอย่างไรต่อไป</p>
</div>

<form method="post">
  {% csrf_token %}
  <div class="choicelist">
    <button type="submit" name="choice" value="choice3" class="btn btn-info" onclick="playAudio();">ปลูกถั่ววิเศษที่สามารถเติมโตได้อย่างรวดเร็ว เพื่อให้มันชอนไชและทำลายเพดานคุกใต้ดิน</button>
    <button type="submit" name="choice" value="choice2" class="btn btn-info" onclick="playAudio();">แฮ็กเครื่องสแกนมือแบบดิจิทัล เพื่อควบคุมและปลดล็อกประตูคุก</button>
    <button type="submit" name="choice" value="choice4" class="btn btn-info" onclick="playAudio();">เข้าไปประเมิณอาการเจ็บของคุณเห้และปฐมพยาบาลเบื้องต้นให้ เพื่อให้คุณเห้ช่วยคิดหาวิธีออกจากคุก</button>
    <button type="submit" name="choice" value="choice2" class="btn btn-info" onclick="playAudio();">ชำแหละตะกร้าของคุณหมีอิ่มเอมแล้ำนำวัสดูที่ได้ มาสร้างอุปกรณ์ไขกุญแจ เพื่อปลดล็อกประตูคุก</button>
    <button type="submit" name="choice" value="choice4" class="btn btn-info" onclick="playAudio();">ผสมสารละลายกรดที่มีฤทธิ์กัดกร่อนรุนแรงจากสารเคมีที่อยู่ในกระเป๋าคุณ เพื่อละลายแท่งเหล็กกรง</button>
  </div>
</form>
</div>

{% endblock %}

{% block script %}
<script>
  const audio = new Audio("{% static 'myapp/sound/question.wav' %}");

  audio.addEventListener("canplaythrough", function() {
    document.querySelectorAll(".btn-info").forEach(button => {
      button.addEventListener("click", function() {
        audio.currentTime = 0;
        audio.play();
      });
    });
  });

  audio.load();
</script>
{% endblock %}