{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url("https://live.staticflickr.com/3726/9688375584_2e4056b01e_b.jpg");
  background-position: center;
}
.choicelist {
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
  button {
    font-size: small;
    font-weight: bold;
    width: 90%;
    max-width: 400px;
    padding: 5px 10px;
    text-align: center;
  }
  button:hover {
    transform: scale(1.05);
    background-color: aqua;
  }
}
.question {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
  color: rgb(0, 0, 0);
}
</style>

<div class="all">
<div class="question">
  <p>คุณจะต่อกรกับมันอย่างไร</p>
</div>

<form method="post">
  {% csrf_token %}
  <div class="choicelist">
    <button type="submit" name="choice" value="choice1" class="btn btn-info" onclick="playAudio();">เจรจาและโน้มน้าวพวกเขาว่าพวกคุณมาอย่างสันติ (It’s persuade time, baby!) | (หุ่นยนต์นั้นถูกคำพูดคำจาที่คุณสบดใส่จนมันยอมทำลายตนเอง)</button>
    <button type="submit" name="choice" value="choice2" class="btn btn-info" onclick="playAudio();">เจาะระบบและแฮคระบบของหุ่นยนต์ด้วยสมาร์ทโฟน | โชว์สกิลเขียนโค้ดในกระดาษแฮคระบบของหุ่นยนต์ (หุ่นยนต์ทนความ Cringe ของคุณไม่ไหวจนต้องทำลายตัวมันเอง)</button>
    <button type="submit" name="choice" value="choice3" class="btn btn-info" onclick="playAudio();">โชว์สกิลการลับมีดคม ๆ ให้หุ่นยนต์ดู | โชว์สกิลการควงมีดครัวให้หุ่นยนต์ดู | โชว์สกิลการสับอาหารทิพต์ให้หุ่นยนต์ดู</button>
    <button type="submit" name="choice" value="choice3" class="btn btn-info" onclick="playAudio();">โปรยเมล็ดต้นไม้กินคนออกไปโจมตีหุ่นยนต์ (หุ่นยนต์กลัวจนขี้หดตดหายจึงได้ทำลายตัวเองเพื่อหนี)</button>
    <button type="submit" name="choice" value="choice5" class="btn btn-info" onclick="playAudio();">ทำน้ำยาที่เพิ่มพลังกายให้คุณเห้ดื่ม (จู่ ๆ คุณเห้นั้นก็มีพลังและตัวใหญ่มากขึ้นจนเป็นก็อตซิลลาทำให้หุ่นยนต์นั้นกลัวจนต้องชิงทำลายตัวเองไปเสียก่อน)</button>
  </div>
</form>
</div>

{% endblock %}

{% block script %}
<script>
  const audio = new Audio("{% static 'myapp/sound/question.wav' %}");

  audio.addEventListener("canplaythrough", function() {
    document.querySelectorAll(".btn-info").forEach(button => {
      button.addEventListener("click", function() {
        audio.currentTime = 0;
        audio.play();
      });
    });
  });

  audio.load();
</script>
{% endblock %}